.unity-progress-bar {
}

.unity-progress-bar__background {
    background-color: rgb(17, 17, 17);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.unity-progress-bar__title-container {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

.player .unity-progress-bar__progress {
    background-color: rgb(54, 142, 71);
}

.player .unity-progress-bar__container {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.player .unity-progress-bar__background {
    background-color: rgb(70, 70, 70);
}

.enemy .unity-progress-bar__container {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    min-height: 10px;
    max-height: 10px;
}

.enemy .unity-progress-bar__progress {
    background-color: rgba(54, 142, 71, 0.7);
}

.enemy .unity-progress-bar__background {
    background-color: rgba(17, 17, 17, 0.75);
}
